{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5">
      <div
        class="col-lg-6 wow fadeInUp"
        data-wow-delay="0.1s"
        style="min-height: 400px"
      >
        <div class="position-relative h-100">
          <img
            class="img-fluid position-absolute w-100 h-100"
            src="{{single_course.image.url}}"
            alt=""
            style="object-fit: cover"
          />
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
        <h6 class="section-title bg-white text-start text-primary pe-3">
          About This Course
        </h6>
        <h1 class="mb-4">{{single_course.title}}</h1>
        <h2 class="d-inline-block mb-4 text-danger">
          <i class="fa-solid fa-circle-dollar-to-slot"></i>
          {{single_course.price}}
        </h2>

        <p class="mb-4">{{single_course.description}}</p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-user text-primary me-2"></i>Skilled Instructors:
              {{single_course.instructor}}
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-book-open text-primary me-2"></i>
              {{single_course.lesson_number}} lessons
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-id-card text-primary me-2"></i>International
              Certificate
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-clock text-primary me-2"></i>
              {{single_course.duration}} Hrs
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-medal text-primary me-2"></i>
              {{single_course.rated}}
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-globe text-primary me-2"></i>
              {{single_course.language}}
            </p>
          </div>
        </div>
        <a
          class="btn btn-primary py-3 px-5 mt-2"
          href="{{single_course.add_to_cart_url}}"
          >Add to cart</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock content %}
