{% extends 'base.html' %} {% load static %} {% block custom_style %}
<style>
  body {
    background-color: #eee !important;
  }
  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }
</style>
{% endblock custom_style %} {% block content %}
<section class="h-100 h-custom" style="background-color: #eee">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                <h5 class="mb-3">
                  <a href="{% url 'course' %}" class="text-body"
                    ><i class="fas fa-long-arrow-alt-left me-2"></i>Continue
                    shopping</a
                  >
                </h5>
                <hr />

                <div
                  class="d-flex justify-content-between align-items-center mb-4"
                >
                  <div>
                    <p class="mb-1">Shopping cart</p>
                    <p class="mb-0">
                      You have {{cart_items.count}} items in your cart
                    </p>
                  </div>
                  <div>
                    <p class="mb-0">
                      <span class="text-muted">Sort by:</span>
                      <a href="#!" class="text-body"
                        >price <i class="fas fa-angle-down mt-1"></i
                      ></a>
                    </p>
                  </div>
                </div>
                {% for cart_item in cart_items %}
                <!--Cart item-->
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="{{cart_item.course.image.url}}"
                            class="img-fluid rounded-3"
                            alt="Shopping item"
                            style="width: 65px"
                          />
                        </div>
                        <div class="ms-3">
                          <h5>{{cart_item.course.title}}</h5>
                          <p class="small mb-0">
                            {{cart_item.course.lesson_number}} lessons,
                            {{cart_item.course.get_instructor_name}}
                          </p>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 80px">
                          <h5 class="mb-0">${{cart_item.course.price}}</h5>
                        </div>
                        <a
                          href="{{cart_item.get_remove_cart_item_url}}"
                          style="color: #cecece"
                          ><i class="fas fa-trash-alt"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Cart item-->
                {% endfor %}
              </div>
              <div class="col-lg-5">
                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <div
                      class="d-flex justify-content-between align-items-center mb-4"
                    >
                      <h5 class="mb-0">We accept</h5>
                      <img
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                        class="img-fluid rounded-3"
                        style="width: 45px"
                        alt="Avatar"
                      />
                    </div>

                    <p class="small mb-2">Card type</p>
                    <a href="#!" type="submit" class="text-white"
                      ><i class="fab fa-cc-mastercard fa-2x me-2"></i
                    ></a>
                    <a href="#!" type="submit" class="text-white"
                      ><i class="fab fa-cc-visa fa-2x me-2"></i
                    ></a>
                    <a href="#!" type="submit" class="text-white"
                      ><i class="fab fa-cc-amex fa-2x me-2"></i
                    ></a>
                    <a href="#!" type="submit" class="text-white"
                      ><i class="fab fa-cc-paypal fa-2x"></i
                    ></a>

                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Incl. taxes)</p>
                      <p class="mb-2">${{total}}</p>
                    </div>
                    {% if cart_items %}
                    <div class="text-center">
                      <button
                        type="button"
                        class="btn btn-info btn-block btn-lg"
                      >
                        <div class="d-flex justify-content-between">
                          <span>Payment with paypal </span>
                          <span>
                            <i class="fas fa-long-arrow-alt-right ms-2"></i
                          ></span>
                        </div>
                      </button>
                    </div>
                    {% else %}
                    <div class="text-center">
                      <a
                        href="{% url 'course' %}"
                        type="button"
                        class="btn btn-info btn-block btn-lg"
                      >
                        <div class="d-flex justify-content-between">
                          <span
                            >You have no item in your cart, continue
                            shopping</span
                          >
                          <span>
                            <i class="fas fa-long-arrow-alt-right ms-2"></i
                          ></span>
                        </div>
                      </a>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
