{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FormWizard_v9</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="" />

    <!-- MATERIAL DESIGN ICONIC FONT -->

    <link
      rel="stylesheet"
      href="{% static  'account\fonts\material-icon\css\material-design-iconic-font.css' %}"
    />

    <!-- boot strap -->

    <link
      rel="stylesheet"
      href="{% static 'general\css\bootstrap.min.css' %}"
    />

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'account\css\style_profile.css'%}" />
  </head>
  <body>
    {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      <strong>Message:</strong> {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

    <section class="vh-100" style="background-color: #f4f5f7">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-6 mb-4 mb-lg-0">
            <div class="card mb-3" style="border-radius: 0.5rem">
              <div class="row g-0">
                <div
                  class="col-md-4 gradient-custom text-center text-white"
                  style="
                    border-top-left-radius: 0.5rem;
                    border-bottom-left-radius: 0.5rem;
                  "
                >
                  <img
                    src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                    alt="Avatar"
                    class="img-fluid my-5"
                    style="width: 80px"
                  />
                  <h5>Marie Horwitz</h5>
                  <p>Web Designer</p>
                  <i class="zmdi zmdi-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                  <div class="card-body p-4">
                    <h6>Information</h6>
                    <hr class="mt-0 mb-4" />
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <h6>Email</h6>
                        <p class="text-muted">info@example.com</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Phone</h6>
                        <p class="text-muted">123 456 789</p>
                      </div>
                    </div>
                    <h6>Projects</h6>
                    <hr class="mt-0 mb-4" />
                    <div class="row pt-1">
                      <div class="col-6 mb-3">
                        <h6>Recent</h6>
                        <p class="text-muted">Lorem ipsum</p>
                      </div>
                      <div class="col-6 mb-3">
                        <h6>Most Viewed</h6>
                        <p class="text-muted">Dolor sit amet</p>
                      </div>
                    </div>
                    <div class="d-flex justify-content-start">
                      <a href="#!"
                        ><i class="zmdi zmdi-facebook fa-lg me-3"></i
                      ></a>
                      <a href="#!"
                        ><i class="zmdi zmdi-twitter fa-lg me-3"></i
                      ></a>
                      <a href="#!"><i class="zmdi zmdi-instagram fa-lg"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="static/account/js/jquery-3.3.1.min.js"></script>

    <!-- JQUERY STEP -->
    <script src="static/account/js/jquery.steps.js"></script>

    <!-- DATE-PICKER -->
    <script src="static/account/vendor/date-picker/js/datepicker.js"></script>
    <script src="static/account/vendor/date-picker/js/datepicker.en.js"></script>

    <script src="static/account/js/main.js"></script>

    <!-- Template created and distributed by Colorlib -->
  </body>
</html>
