{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid py-5">
  <div
    class="text-center wow fadeInUp row justify-content-between"
    data-wow-delay="0.1s"
  >
    <div class="col-md-3">
      <button class="btn btn-info btn-lg rounded-pill">
        <span class="spinner-border spinner-border-sm"></span>
        You have {{orders.count}} orders
      </button>
    </div>
    <div class="col-md-3">
      <h6 class="section-title bg-white text-center text-primary px-3">
        Orders
      </h6>
      <h1 class="mb-4">Payment history</h1>
    </div>
    <div class="col-md-3">
      <button class="btn btn-warning btn-lg rounded-pill">
        <span class="spinner-border spinner-border-sm"></span>
        You paid {{total_paid}} $
      </button>
    </div>
    <table
      class="table table-striped table-responsive align-middle mb-0 bg-white mt-3"
    >
      <thead class="bg-light text-center fs-5">
        <tr>
          <th><i class="fa-solid fa-box"></i> Order</th>
          <th><i class="fa-solid fa-calendar"></i> Created date</th>
          <th><i class="fa-solid fa-circle-info"></i> Status</th>
          <th><i class="fa-solid fa-money-check-dollar"></i> Total</th>
          <th><i class="fa-sharp fa-solid fa-file-invoice"></i> Details</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for order in orders %}
        <tr>
          <td>
            <p class="fw-bold m-1">Order number</p>
            <p class="fw-bold m-1">{{forloop.counter}}</p>
          </td>
          <td>
            <p class="fw-semi-bold m-1 fw-5">
              {{order.placed_at|date:"SHORT_DATE_FORMAT"}}
            </p>
          </td>
          <td>
            <span
              class="btn {% if order.get_payment_status == 'Complete' %} btn-primary {% elif order.get_payment_status == 'Pending' %} btn-warning {% else %} btn-danger {% endif %} rounded-pill d-inline m-1"
              >{{order.get_payment_status}}</span
            >
          </td>
          <td class="fw-semi-bold fs-4">{{order.total}} $</td>
          <td>
            <button
              type="button"
              class="btn btn-info btn-rounded btn-sm fw-bold"
              data-mdb-ripple-color="dark"
              data-bs-toggle="modal"
              data-bs-target="#mymodal{{order.id}}"
            >
              View details
            </button>
          </td>
        </tr>
        <!-- The Modal -->
        <div class="modal fade" id="mymodal{{order.id}}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header border-bottom-0">
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>

              <div class="modal-body text-start text-black p-4">
                <h5
                  class="modal-title text-uppercase mb-5"
                  id="mymodal{{order.id}}"
                >
                  {{order.user.full_name}}
                </h5>
                <h4 class="mb-5" style="color: #35558a">
                  Thanks for your payment
                </h4>
                <p class="mb-0" style="color: #35558a">Payment summary</p>
                <hr
                  class="mt-2 mb-4"
                  style="
                    height: 0;
                    background-color: transparent;
                    opacity: 0.75;
                    border-top: 2px dashed #9e9e9e;
                  "
                />
                <div class="d-flex justify-content-between">
                  {% for item in order.get_order_details %}
                  <p class="fw-bold mb-0">{{item.course.title}}</p>
                  <p class="text-muted mb-0">${{item.course.price}}</p>
                  {% endfor %}
                </div>
                <div class="d-flex justify-content-between">
                  <p class="small mb-0">Promotions</p>
                  <p class="small mb-0">None</p>
                </div>
                <div class="d-flex justify-content-between pb-1">
                  <p class="small">Tax</p>
                  <p class="small">Included</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="fw-bold">Total</p>
                  <p class="fw-bold" style="color: #35558a">{{order.total}}</p>
                </div>
              </div>
              <div
                class="modal-footer d-flex justify-content-center border-top-0 py-4"
              >
                <button
                  type="button"
                  class="btn btn-primary btn-lg mb-1"
                  data-bs-dismiss="modal"
                  style="background-color: #35558a"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
